[tools]
python = '3.13.7'
uv = 'latest'

[tasks.default]
run = 'uv run -m src'

[tasks.dev]
run = 'uv run jurigged -v -m src'

[env]
# the Telegram bot token https://telegram.me/BotFather
BOT_TOKEN = '0000000000:aaaaaaaaaaaaaaaaaaaa'
# to connect to MTProto, which we use to upload media files (retrieve from https://my.telegram.org)
API_HASH = 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'
API_ID = '0000000'
# the Telegram account IDs that will have administrator permissions of the bot
BOT_ADMINS = '000000,000000,000000'
BOT_LANGUAGE = 'en_US'
#TELEGRAM_LOG_CHAT_ID = '-10000000000'
DEBUG = 1

# PLUGINGS
HADITH_SEARCH_ENDPOINT = ''
# https://www.exchangerate-api.com
EXCHANGE_RATE_API_KEY = ''
# https://github.com/ieasybooks/tafrigh/blob/main/README.en.md
# A list of access tokens separated by space
WHISPER_MODEL_PATH = ''
WIT_CLIENT_ACCESS_TOKENS = ''
# https://github.com/ieasybooks/tahweel
# Path to the service account credentials JSON file
SERVICE_ACCOUNT_FILE = ''
# https://github.com/simonw/llm
# https://github.com/simonw/llm-gemini
# Google Gemini AI API key
LLM_GEMINI_KEY = ''
# https://github.com/angerman/llm-groq
# Groq API key
GROQ_API_KEY = ''
LLM_TRANSCRIPTION_MODEL = 'groq/whisper-large-v3'

[env.mise]
file = '.env'
