[tools]
poetry = 'latest'
python = '3.12'

[tasks.default]
run = 'python -m src'

[env]
# the Telegram bot token https://telegram.me/BotFather
BOT_TOKEN = '0000000000:aaaaaaaaaaaaaaaaaaaa'
# to connect to MTProto, which we use to upload media files (retrieve from https://my.telegram.org)
API_ID = '0000000'
API_HASH = 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'
# the Telegram account IDs that will have administrator permissions of the bot
BOT_ADMINS = '000000,000000,000000'
#TELEGRAM_LOG_CHAT_ID = '-10000000000'
DEBUG = 1

# PLUGINGS
HADITH_SEARCH_ENDPOINT = ''
# https://www.exchangerate-api.com
EXCHANGE_RATE_API_KEY = ''
# https://github.com/ieasybooks/tafrigh/blob/main/README.en.md
# A list of access tokens separated by space
WIT_CLIENT_ACCESS_TOKENS = ''
WHISPER_MODEL_PATH = ''
# https://github.com/ieasybooks/tahweel
# Path to the service account credentials JSON file
SERVICE_ACCOUNT_FILE = ''

[env.mise]
file = '.env'
